td, th {
	border: 1px solid black;
  }


body {
  background-image: url("../images/milkyway.jpeg");
}

.custom-size {
  width: 100px;
  height: 100px;
}

h1 {
  font-family: "Comic Sans MS", cursive;
  position: absolute;
  left: 420px;
  top:5px;
}
