td, th {
	border: none;
  }


body {
  background-image: url("../images/milkyway.jpeg");
}

.custom-size {
  width: 200px;
  height: 200px;
}

h1 {
  font-family: "Comic Sans MS", cursive;
  position: relative;
}
