td, th {
	border: none;
  }

td {
  text-align: center;
  vertical-align: middle;
}

th {
  font-weight: bold;
  font-size: 18px;
}

body {
  background-image: url("../images/milkyway.jpeg");
}

.custom-size {
  width: 200px;
  height: 200px;
}

h1 {
  font-family: "Shadows Into Light", cursive;
  position: relative;
  text-align: center;
}

#planets {
  font-family: 'Shadows Into Light', cursive;
}

.custom-size1 {
  width: 600px;
  height: 338px;
}

.heading {
  display: flex;
  align-items: center;
}

h1, .custom-size1 {
  margin: 0; 
}


